:root {
    --primaryral-font: 'Raleway', sans-serif;
    --primaryrob-font: 'Roboto', sans-serif;
    --primary-white-color: #ffffff;
    --primary-navyblue-color: #2e2f42;
    --iris-color: #4d5ae5;
    --slate-color: #434455;
    --howe-color: #404bbf;
    --cloud-color: #f4f4fd;
    --but-color: #e7e9fc;
    --lightslate: #8e8f99;
    --soc: #31d0aa;
}

body {
    background-color: var(--primary-white-color);
    font-family: var(--primaryrob-font);
    color: var(--slate-color);
}
/*₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴*/
.list {
    list-style-type: none;
}
.text {
    line-height: 1.5;
    letter-spacing: 0.02rem;
}
button,
input {
    font-family: inherit;
    font-size: inherit;
}
.link,
.link-logo,
.link-pes,
.link-pes-p {
    text-decoration: none;
}
.nav .link-logo,
.nav .link,
.end .link {
    font-family: var(--primaryral-font);
    color: var(--iris-color);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.second {
    color: var(--primary-navyblue-color);
}

.nav .list .link,
.link-pes,
.link-pes-p {
    font-family: var(--primaryrob-font);
    color: var(--primary-navyblue-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    text-transform: none;
}

.nav .link:hover,
.nav .link:focus {
    color: var(--howe-color);
}
.adre .link {
    color: var(--slate-color);
    line-height: 1.5;
    letter-spacing: 0.02rem;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adre {
    font-style: normal; /*Хотіло для завдання, хоча можна і в.adre .link запхати і теж працює */
}
.adre .link:hover,
.adre .link:focus {
    color: var(--howe-color);
}
/*₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴*/

.service,
.end {
    background-color: var(--primary-navyblue-color);
}

.i-one {
    font-size: 56px;
    color: var(--primary-white-color);
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.07rem;
    text-align: center;
    max-width: 496px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.service .buttoo {
    font-family: var(--primaryrob-font);
    font-size: 16px;
    color: var(--primary-white-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04rem;
    background-color: var(--iris-color);
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service .buttoo:hover,
.service .buttoo:focus {
    background-color: var(--howe-color);
}

/*₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴*/

.i-two {
    color: var(--primary-navyblue-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045rem;
    text-transform: capitalize;
    text-align: center;
}

/*₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴*/

.team {
    background-color: #f4f4fd;
}

.team .liii {
    background-color: var(--primary-white-color);
}

.team .i-tree,
.portfolio .htwo,
.benefit .h-tree {
    color: var(--primary-navyblue-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025rem;
}
/*₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴*/

.end .second,
.end .text {
    color: #f4f4fd;
}

/*₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴*/
.portfolio .buttoo {
    font-family: var(--primaryrob-font);
    color: var(--iris-color);
    background-color: var(--cloud-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04rem;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--but-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .buttoo:hover,
.portfolio .buttoo:focus {
    color: var(--primary-white-color);
    background-color: #404bbf;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio .text {
    color: var(--slate-color);
}

/* РОЗМІТКА СТОРІНКИ  */
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
img {
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Футер */
.header .container {
    display: flex;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .nav {
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
}
.nav .list {
    display: flex;
    padding: 0;
    gap: 40px;
    margin: 0;
}
.adre .list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
    margin: 0;
}
.link-logo {
    margin-right: 76px;
}
.nav .link,
.link-pes,
.link-pes-p {
    padding: 24px 0;
}
.nav .list .link,
.link-pes,
.link-pes-p {
    display: block;
}

/* MAIN CLASS  */
/* SERVICE */
.service {
    padding: 188px 0;
}
/* все в стилях */
/*BENEFITS*/
.benefit,
.team,
.customer {
    padding: 120px 0;
}
.benefit .list {
    display: flex;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    margin: 0;
}
.h-tree,
.cont-port .htwo {
    margin: 0 0 8px 0;
}
.benefit .liii {
    flex-basis: calc((100% - 3 * 24px) / 4);
}
/* WORK */
.work {
    padding-bottom: 120px;
}
.work .list,
.team .list {
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}
.work .liii,
.portfolio .list .link {
    flex-basis: calc((100% - 48px) / 3);
}
.work .i-two,
.team .i-two {
    margin-bottom: 72px;
    margin-top: 0;
}
/* TEAM */
.team .liii {
    flex-basis: calc((100-3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.cont-team {
    padding: 32px 0;
    text-align: center;
}
.cont-team .i-tree {
    text-align: center;
    margin: 0 0 8px 0;
}
.cont-team .text,
.cont-port .text,
.benefit .text {
    margin: 0;
}
/* ФУТЕР */
.end {
    padding: 100px 0;
}
.end .link {
    display: inline-block;
    margin-bottom: 16px;
}
.end .text {
    max-width: 264px;
    height: auto;
    margin: 0;
}
/* PORTFOLIO */

.portfolio {
    padding: 96px 0 120px 0;
}
.portfolio .list-button {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0;
    margin-bottom: 72px;
    padding: 0;
}
.portfolio .list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.cont-port {
    padding: 32px 16px;
    margin: 0;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* СЕКЦІЯ КОМАНДИ */
.list-icon {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;
    justify-content: center;
}
.list-icon .link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-icon .link:hover,
.list-icon .link:focus {
    background-color: var(--howe-color);
}
.team .text {
    margin: 0 0 8px 0;
}
.team .liii {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team .icon {
    fill: var(--cloud-color);
}

/* SECTION CUSTOMER */
.customer .list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0;
    padding: 0;
}
.customer .link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightslate);
    background-color: var(--primary-white-color);
    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid var(--lightslate);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer .i-two {
    padding: 0;
    margin: 0 0 72px 0;
}
.customer .link:hover,
.customer .link:focus {
    border-color: var(--howe-color);
    color: var(--howe-color);
}
.customer .icon {
    fill: currentColor;
}

/* FOOOOTEEERRR */
.end .container {
    display: flex;
    align-items: baseline;
}
.end-logo {
    margin: 0 120px 0 0;
    padding: 0;
}
.social .link {
    margin: 0;
}
.social .list-icon {
    gap: 16px;
    margin-right: 80px;
}
.social .text {
    font-weight: 500;
    max-width: 96;
    height: 24px;
    margin: 0 0 16px 0;
    color: var(--primary-white-color);
}
.social .link:hover,
.social .link:focus {
    background-color: var(--soc);
}
.social .icon {
    fill: var(--cloud-color);
}
/* SECTION BENEFITS */
.icon-benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cloud-color);
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
}

/* SECTION SERVICE */
.service {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/peoplee.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.link-pes {
    position: relative;
    color: var(--howe-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-pes::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--howe-color);
    border-radius: 2px;
    width: 100%;
}
/* portfolio */

.portfolio .link:hover,
.portfolio .link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio .link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
    position: relative;
    overflow: hidden;
}
.overlay .text {
    background-color: var(--iris-color);
    color: var(--cloud-color);
    position: absolute;
    line-height: 1.5em;
    letter-spacing: 0.02rem;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    top: 0;
    margin: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .link:focus .overlay .text,
.portfolio .link:hover .overlay .text {
    transform: translateY(0%);
}

/* MODAL WINDOWS */

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.modal .close-butto {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.close-butto:hover,
.close-butto:focus {
    background-color: var(--howe-color);
    border: none;
    fill: var(--primary-white-color);
}
.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.formall .text {
    margin: 0 0 16px 0;
    font-weight: 500;
    color: var(--primary-white-color);
}

.formteg {
    display: flex;
    gap: 24px;
    margin: 0;
}
.lab-email {
    border: 1px solid var(--primary-white-color);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    color: var(--primary-white-color);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
}
.foot-label input::placeholder {
    color: var(--primary-white-color);
}

.subm-butt {
    display: flex;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    background-color: var(--iris-color);
    color: var(--primary-white-color);
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subm-butt:hover,
.subm-butt:focus,
.buto-priv:hover,
.buto-priv:focus {
    background-color: var(--howe-color);
}
.icon-teg {
    margin-left: 16px;
    fill: var(--primary-white-color);
}
.text-order {
    margin: 0 0 16px 0;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--primary-navyblue-color);
    line-height: 1.5;
}
.cont-order {
    margin: 0 0 8px 0;
}
.person {
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: var(--lightslate);
    display: block;
    margin: 0 0 4px 0;
}
.order-info {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 0 0 0 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-info:focus,
input:focus + .icon-order,
.comment-info:focus {
    border-color: var(--iris-color);
    fill: var(--iris-color);
}
.inp_label {
    position: relative;
}
.icon-order {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cont-comment {
    margin: 0 0 16px 0;
}
.comment-info {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
}
.checkbox {
    margin: 0 0 24px 0;
}
.box {
    font-family: var(--primaryrob-font);
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: var(--lightslate);
}
.privacy {
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-privacy {
    color: var(--iris-color);
}
.buto-priv {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: var(--primary-white-color);
    cursor: pointer;
    background-color: var(--iris-color);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:checked + .box > .privacy {
    background-color: var(--howe-color);
    border: none;
    fill: var(--cloud-color);
}
